<header class="container-fluid ">
    <nav id="desktop-nav">
        <div class="logo">
            <img src="/images/logo_tb_icon.png" class="logo1" alt="">
        </div>
        <ul class="nav-links">
            <li><a href="">Acceuil</a></li>
            <li><a href="#about">A propos</a></li>
            <li><a href="#contact">Contacts</a></li>
        </ul>
  
        <form class="d-flex">
          <button routerLink="/login" class="btn btn-outline-dark round-button mx-2" type="button">Conection</button>
          <button routerLink="/register" Contacts class="btn btn-secondary round-button" type="button">Inscription</button>
      </form>
    </nav>
  </header>
<div class="container-fluid body-background">
    <div class="container pt-5 ">
        <div class="row">
            <div class="col-8  job">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="row">
                                            <div class="col-12">
                                                <h6 style="margin-bottom: 0;">Ali Dabo
                                                </h6>
                                                <a>Rafistoleur</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 text-end">
                                        <img class="compo_logo" src="/images/logo_tb_icon.png" alt="">
                                    </div>
                                </div>
                                <div class="row">
                                 
                                    <div class="col-4">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i> Cocody
                                    </div>
                                </div>
                                <hr>
                                <div class="row pt-1">
                                    <div class="col-7 text-end">
                                        <button class="btn btn-outline-dark round-button mx-2"
                                            type="button">Contactez vous</button>
                                        <button class="btn btn-dark round-button" type="button">Contect vous prour
                                            Appeler</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5>Description</h5>
                                <div class="p-2">
                                    <ul>
                                        TRAVAILLE:
                                        <li> Rapide </li>
                                        <li> Eficace </li>
                                        <li> A Moindre Cout </li>
                                        <hr>
                                        Ne perdez plus de temps je suis le rafistoleur qu'il vous faut contactez moi et
                                        laissez votre problème de couture derrière vous !
                                    </ul>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>

</div>
<footer class="container-fluid ">
    <nav id="desktop-nav">
        <ul class="nav-links">
          <li><a href="">Acceuil</a></li>
          <li><a href="#about">A propos</a></li>
          <li><a href="#contact">Contacts</a></li>
        </ul>
        <p>Copyright &#169; 2024 Ali Dabo. Tous les droits sont reserves.</p>
    </nav>
  </footer>