<header class="container-fluid ">
    <nav id="desktop-nav">
        <div class="logo">
            <img src="/images/logo_tb_icon.png" class="logo1" alt="">
        </div>
        <ul class="nav-links">
            <li><a href="">Acceuil</a></li>
            <li><a href="#about">A propos</a></li>
            <li><a href="#contact">Contacts</a></li>
        </ul>
  
        <form class="d-flex">
          <button routerLink="/login" class="btn btn-outline-dark round-button mx-2" type="button">Conection</button>
          <button routerLink="/register" Contacts class="btn btn-secondary round-button" type="button">Inscription</button>
      </form>
    </nav>
  </header>
<div class=" gradient-custom row mx-4 mt-1 mb-1">
    <div class=" col-md-3">
        <div style="margin-top: 50px; margin-left: 10px;" class="text-center">
            <img src="/images/logo_tb_icon.png" class="logo2 fas fa-3x fa-sign-in-alt text-dark" alt=""> <h3 class="mt-3 text-dark">Bienvenue !!</h3>
            <p class="white-text">laissez votre problème de couture derrière vous</p>
        </div>
        <div class="text-center">
            <button type="submit" data-mdb-button-init data-mdb-ripple-init
                class="btn btn-dark btn-rounded back-button">Retour</button>
        </div>
        
        
    </div>
    <div class=" mt-3  mb-3 col-md-9 justify-content-center">
        <div class="card card-custom pb-4">
            <div class="card-body mt-0 mx-5">
                <div class="text-center mb-3 pb-2 mt-3">
                    <h4 style="color: #000000 ;">Inscriver-Vous !</h4>
                </div>

                <form class="mb-0">

                    <div class="row mb-4">
                        <div class="col">
                            <div data-mdb-input-init class="form-outline">
                                <input type="text" id="form9Example1" class="form-control input-custom" />
                                <label class="form-label" for="form9Example1">Nom</label>
                            </div>
                        </div>
                        <div class="col">
                            <div data-mdb-input-init class="form-outline">
                                <input type="text" id="form9Example2" class="form-control input-custom" />
                                <label class="form-label" for="form9Example2">Prenom</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div data-mdb-input-init class="form-outline">
                                <input type="text" id="form9Example3" class="form-control input-custom" />
                                <label class="form-label" for="form9Example3">Qartier</label>
                            </div>
                        </div>
                        <div class="col">
                            <div data-mdb-input-init class="form-outline">
                                <input type="text" id="form9Example4" class="form-control input-custom" />
                                <label class="form-label" for="form9Example4">Tel</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row mb-4">
                        <div class="col">
                            <div data-mdb-input-init class="form-outline">
                                <input type="text" id="form9Example6" class="form-control input-custom" />
                                <label class="form-label" for="form9Example6">Addresse</label>
                            </div>
                        </div>
                        <div class="col">
                            <div data-mdb-input-init class="form-outline">
                                <input type="email" id="typeEmail" class="form-control input-custom" />
                                <label class="form-label" for="typeEmail">Email</label>
                            </div>
                        </div>
                    </div>

                    <div class=" col form-group form-outline">
                        <textarea placeholder="Donnez Votre avis"id="feedback" name="feedback" rows="5" required></textarea>
                        <label for="" class=" form-label">Votre avis</label>
                    </div>
                    <div class="float-end ">
                        <!-- Submit button -->
                        <button type="submit" data-mdb-button-init data-mdb-ripple-init
                            class="btn btn-dark btn-rounded" style="background-color: #000000 ;">S'inscrire</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<footer class="container-fluid ">
    <nav id="desktop-nav">
        <ul class="nav-links">
          <li><a href="">Acceuil</a></li>
          <li><a href="#about">A propos</a></li>
          <li><a href="#contact">Contacts</a></li>
        </ul>
        <p>Copyright &#169; 2024 Ali Dabo. Tous les droits sont reserves.</p>
    </nav>
  </footer>