/* You can add global styles to this file, and also import other style files */
scr * {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

a,
btn {
    transition: all 300ms ease;
}

/* Desktop NAV */
nav,
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 24vh;
}

.nav-links {
    gap: 0.5rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: gray;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo1 {
    border-radius: 50%;
    height: 100px;
    transition: all 300ms ease-in-out;
    display: flex;
    align-items: center;
    padding: 9px 9px 9px 24px;
    box-sizing: border-box;
    border-radius: 100px;
}
.logo2{
    
    transition: all 300ms ease-in-out;
    height: 100px;
}
.logo2:hover {
    transform: scale(1.2);
}
.logo1:hover {
    transform: scale(1.2);
}

.round-button {
    border-radius: 30px;

}

/* Footer section */

footer p {
    text-align: center;
}

/* Seacrh */
.header {
    margin: 0px 0 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    font-family: "Poppins", sans-serif;
}

.Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logoContainer {
    display: flex;
    align-items: center;
    padding: 9px 9px 9px 24px;
    background: #fff;
    border: 1.26923px solid #eaf1f5;
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgb(86 141 187 / 12%);
    border-radius: 100px;
    border: 1px solid white;
}

#searchIcon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

input {
    font-size: 15px;
    line-height: 22px;
    font-family: "Inter";
    color: #9098b5;
    font-weight: 400;
    outline: none;
}

#input1 {
    width: 208px;
    height: 38px;
    border: none;
}

.search {
    font-family: "Poppins", sans-serif;
    padding: 11px 28px;
    font-weight: 600;
    font-size: 19px;
    line-height: 26px;
    background: #ffffff;
    box-shadow: 0 5.07692px 12.6923px rgb(69 126 255 / 10%);
    border-radius: 100px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    margin-left: 110px;
    border: none;
    transition: all 300ms ease-in-out;
}

.search:hover {
    background: #000000;
    color: white;
    transform: scale(1.2);
}

.text {
    text-align: center;
    font-family: "Poppins", sans-serif;
}

/* Contact Section */
#contact {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;

}


.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.icon {
    cursor: pointer;
    height: 2rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

.section__text__p1 {
    text-align: center;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(163, 163, 163) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background-color: rgb(250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
}

.about-containers,
.about-details-container {
    display: flex;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}


/* Experience Section */

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

#experience {
    position: relative;
}

.experience-sub-title {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
    font-family: "Poppins", sans-serif;
}

/* Text area */

.feedback-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 300ms ease-in-out;
}

.feedback-container:hover {
    transform: scale(1.1);

}

.experience-sub-titles {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.20rem;
    margin-bottom: 2rem;
    font-family: "Poppins", sans-serif;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    /* Limite la largeur du formulaire */
    margin: auto;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 1.5rem;
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.form-group textarea {
    resize: vertical;
    /* Permettre la redimension verticale du textarea */
}

.submit-button {
    padding: 0.75rem 1.5rem;
    border: none;
    background-color: #fcfcfc;
    color: rgb(0, 0, 0);
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    align-self: center;
    transition: all 300ms ease-in-out;
}

.submit-button:hover {
    background: #000000;
    color: white;
    transform: scale(1.2);
}

.compo_logo {
    height: 50px;
    width: 50px;
    border-radius: 14px; 
}

.job .card {
    border-radius: 20px;
    margin-left:  20px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.filter .card {
    border-radius: 10px;
}
