
<div class="container-fluid body-background job">
    <div class="container pt-3 ">
        <div class="row">
            <div class="row">
                <div class="col-12">
                    <div class="card"> 
                        <div class="card-body">
                            <a  href="job-detail.html"></a>
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-12">
                                            <h6 style="margin-bottom: 0;">Ali Dabo</h6>
                                            <a>Rafistoleur</a>
                                        </div>
                                    </div> 
                                </div>
                                <div class="col-4 text-end">
                                    <img class="compo_logo" src="/images/logo_tb_icon.png" alt="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <i class="fa fa-suitcase" aria-hidden="true"></i>  5-6 ans  
                                </div>
                            
                                <div class="col-4">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> Cocody 
                                </div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-12">
                                    <i class="fa fa-file-text-o" aria-hidden="true"></i> <span class="text-muted">  Ne perdez plus de temps je suis le rafistoleur qu'il vous faut ...</span>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card"> 
                        <div class="card-body">
                            <a  href="job-detail.html"></a>
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-12">
                                            <h6 style="margin-bottom: 0;">Ali Dabo</h6>
                                            <a>Rafistoleur</a>
                                        </div>
                                    </div> 
                                </div>
                                <div class="col-4 text-end">
                                    <img class="compo_logo" src="/images/logo_tb_icon.png" alt="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <i class="fa fa-suitcase" aria-hidden="true"></i>  5-6 ans  
                                </div>
                            
                                <div class="col-4">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> Cocody 
                                </div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-12">
                                    <i class="fa fa-file-text-o" aria-hidden="true"></i> <span class="text-muted">  Ne perdez plus de temps je suis le rafistoleur qu'il vous faut ...</span>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card"> 
                        <div class="card-body">
                            <a  href="job-detail.html"></a>
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-12">
                                            <h6 style="margin-bottom: 0;">Ali Dabo</h6>
                                            <a>Rafistoleur</a>
                                        </div>
                                    </div> 
                                </div>
                                <div class="col-4 text-end">
                                    <img class="compo_logo" src="/images/logo_tb_icon.png" alt="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <i class="fa fa-suitcase" aria-hidden="true"></i>  5-6 ans  
                                </div>
                            
                                <div class="col-4">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> Cocody 
                                </div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-12">
                                    <i class="fa fa-file-text-o" aria-hidden="true"></i> <span class="text-muted">  Ne perdez plus de temps je suis le rafistoleur qu'il vous faut ...</span>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card"> 
                        <div class="card-body">
                            <a  href="job-detail.html"></a>
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-12">
                                            <h6 style="margin-bottom: 0;">Ali Dabo</h6>
                                            <a>Rafistoleur</a>
                                        </div>
                                    </div> 
                                </div>
                                <div class="col-4 text-end">
                                    <img class="compo_logo ico" src="/images/logo_tb_icon.png" alt="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <i class="fa fa-suitcase" aria-hidden="true"></i>  5-6 ans  
                                </div>
                            
                                <div class="col-4">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> Cocody 
                                </div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-12">
                                    <i class="fa fa-file-text-o" aria-hidden="true"></i> <span class="text-muted">  Ne perdez plus de temps je suis le rafistoleur qu'il vous faut ...</span>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="col-6  job">
            </div>  
        </div>
    </div>
    
</div>